<div class="card center">
  <app-add-ticket (ticketAdded)="onTicketAdded()"></app-add-ticket>
</div>
<div *ngFor="let t of tickets; index as i">
  <div class="card center">
    <div class="row">
      <p>#: {{t.id}}</p>
      <p *ngIf="!t.isClosed" style="text-align: right;">Status: <span style="color: red;">Open</span></p>
      <p *ngIf="t.isClosed" style="text-align: right;">Status: <span style="color: green;">Closed</span></p>
    </div>
    <div class="row">
      <p class="center">Issue: {{t.description}}</p>
    </div>
    <div class="center">
      <button *ngIf="!display[i]" (click)="toggleTicket(t, i)">Show More</button>
      <button *ngIf="display[i]" (click)="toggleTicket(t, i)">Show Less</button>
      <br/>
      <div *ngIf="display[i]">
        <app-single-ticket></app-single-ticket>  
        <br/>
        <button (click)="deleteTicket(t.id, i)">Delete</button>
      </div>
    </div>
  </div>
  <br/>
</div>
