<!-- <div *ngFor="let u of users, index as i">
    <p>Name: {{u.name}}</p>
    <button (click)="deleteUser(u.id, i)">Remove User</button>
    <br>
</div> -->
<button (click)="toggleDisplay()">Add New User</button>
<div *ngIf="display">
    <p>Name:</p>
    <input type="text" [(ngModel)]="newUser.name">
    <button (click)="addUser(newUser); toggleDisplay()">Sumbit</button>
</div>

<select id="userdropdown" >
    <option *ngFor="let u of users; index as i" value="{{i}}">
      {{u.name}}
    </option>
  </select>
  <button (click)="selectUser()">Login</button>