
<div>
    <p>Resolution: {{ticket.resolution}}</p>
    <button (click)="toggleDisplay()" *ngIf="!ticket.isClosed">Edit Resolution</button>
    <div *ngIf="display">
        <input type="text" [(ngModel)]="ticket.resolution">
        <p>Close ticket</p>
        <input type="checkbox" [(ngModel)]="ticket.isClosed">
        <button (click)="doneEditing()">Save Changes</button>
    </div>
   <div>
    <button (click)="addBookmark(currentUser.id, ticket.id)">Add to Bookmarks </button>
   </div>
</div>
